apiVersion: v1
kind: Pod
metadata:
  name: traefik
  labels:
    app: traefik
    traefik.http.routers.dashboard.entrypoints: web
    traefik.http.routers.dashboard.rule: Host(`traefik.localhost`)
    traefik.http.routers.dashboard.service: api@internal
    traefik.http.routers.dashboard.tls: false
    traefik.http.services.dashboard.loadbalancer.server.port: 8080
spec:
  containers:
    - name: traefik
      image: docker.io/library/traefik:v3.6.6
      args:
        - '--accesslog=true'
        - '--api.dashboard=true'
        - '--api.insecure=true'
        - "--entrypoints.web.address=:80"
        - '--log.level=info'
        - '--providers.docker=true'
      volumeMounts:
        - mountPath: /var/run/docker.sock:z
          name: docker_sock
      ports:
        - containerPort: 80
          hostPort: 80
        # For the Dashboard
        - containerPort: 8080
          hostPort: 8080
  volumes:
    - name: docker_sock
      hostPath:
        path: "/run/user/1000/podman/podman.sock"
        type: File
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx-traefik
  labels:
    app: nginx-traefik
    traefik.enable: true
    traefik.http.routers.nginx.rule: Host(`example.localhost`)
    traefik.http.routers.nginx.entrypoints: web
    traefik.http.routers.nginx.tls: false
    traefik.http.services.nginx.loadbalancer.server.port: 80
spec:
  containers:
    - name: nginx
      image: docker.io/library/nginx:alpine
      ports:
        - containerPort: 80
